services:
  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    image: joindevops/catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb

  mongodb:
    build: ./mongodb
    image: joindevops/mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db

  redis:
    image: redis:7.0
    container_name: redis
    volumes:
      - redis:/data

  mysql:
    build: ./mysql
    image: joindevops/mysql:v1
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123

  user:
    build: ./user
    image: joindevops/user:v1
    container_name: user
    depends_on:
      - mongodb
      - redis

  cart:
    build: ./cart
    image: joindevops/cart:v1
    container_name: cart
    depends_on:
      - redis
      - catalogue

  shipping:
    build: ./shipping
    image: joindevops/shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart

  payment:
    build: ./payment
    image: joindevops/payment:v1
    container_name: payment
    depends_on:
      - rabbitmq
      - cart
      - user

  frontend:
    build: ./frontend
    image: joindevops/frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment
    environment:
      CATALOGUE_HOST: catalogue
      CATALOGUE_PORT: 8080
      USER_HOST: user
      USER_PORT: 8080
      CART_HOST: cart
      CART_PORT: 8080
      SHIPPING_HOST: shipping
      SHIPPING_PORT: 8080
      PAYMENT_HOST: payment
      PAYMENT_PORT: 8080

networks:
  default:
    driver: bridge
    name: roboshop
    external: false

volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq:
